<section class="about" id="sobre">

  <div class="about-image">

    <img
      src="https://res.cloudinary.com/da77ibnzb/image/upload/q_auto/f_auto/v1779986768/IMG_20260525_172858_390_bnqkyi.webp"
      alt="Mathias Lara">

  </div>

  <div class="about-text">

    <h2>Sobre mí</h2>

    <p>
      Soy Ingeniero en Sonido, músico y estudiante apasionado por la
      producción musical, el sonido en vivo y el desarrollo artístico.
    </p>

    <p>
      Actualmente soy bajista de la banda Codigo Y.
    </p>

    <p>
      Mi objetivo es seguir creciendo dentro de la industria musical.
    </p>

  </div>

</section>