<section class="contact" id="contacto">

  <h2>Booking & Contacto</h2>

  <div class="contact-box">

    <p>
      <i class="fa-solid fa-envelope"></i>
      mattmusiccontacto@gmail.com
    </p>

    <p>
      <i class="fa-solid fa-phone"></i>
      +593 098 722 9146
    </p>

    <p>
      <i class="fa-solid fa-location-dot"></i>
      Quito - Ecuador
    </p>

  </div>

  <div class="socials">

    <a href="https://www.instagram.com/mathy_labeni"
      target="_blank"
      class="social instagram">

      <i class="fa-brands fa-instagram"></i>
      <span>Instagram</span>

    </a>

    <a href="https://www.tiktok.com/@mathy_labeni"
      target="_blank"
      class="social tiktok">

      <i class="fa-brands fa-tiktok"></i>
      <span>TikTok</span>

    </a>

    <a href="https://youtube.com/@matt_sound"
      target="_blank"
      class="social youtube">

      <i class="fa-brands fa-youtube"></i>
      <span>YouTube</span>

    </a>

  </div>

</section>