<header class="navbar">

  <div class="logo">
    <i class="fa-solid fa-wave-square"></i>
    <span>Mathias Lara</span>
  </div>

  <nav>

    <ul id="menu">

      <li><a href="#inicio">Inicio</a></li>
      <li><a href="#sobre">Sobre mí</a></li>
      <li><a href="#habilidades">Habilidades</a></li>
      <li><a href="#proyectos">Proyectos</a></li>
      <li><a href="#contacto">Booking</a></li>

    </ul>

  </nav>

  <div class="menu-toggle" id="menu-toggle">
    <i class="fa-solid fa-bars"></i>
  </div>

</header>