<section class="projects" id="proyectos">

  <h2>Experiencia & Proyectos</h2>

  <div class="project-container">

    <div class="project-card">

      <img
        src="https://res.cloudinary.com/da77ibnzb/image/upload/q_auto/f_auto/v1779986769/IMG_2193_uftrvx.jpg"
        alt="Codigo Y">

      <div class="project-info">

        <h3>Codigo Y</h3>

        <p>
          Proyecto musical donde participo como bajista.
        </p>

      </div>

    </div>

    <div class="project-card video-card">

      <iframe
        src="https://www.youtube.com/embed/Nsy9XnANJlo"
        allowfullscreen>
      </iframe>

    </div>

  </div>

</section>